<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SpaceX</title>
        <link rel="stylesheet" href="../static/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='../static/script.js') }}" defer></script>
    </head>
    <body>
        <div id="overlay"></div>
        <div id="mobile-menu" class="mobile-main-menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('missions') }}">Missions</a></li>
                <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
        <header class="main-header">
            <div class="logo">
                <a href="index.html">
                    <img src="../static/logo.png" alt="SpaceX" />
                </a>
                <span>Space Exploration</span>
            </div>
            <nav class="desktop-main-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('missions') }}">Missions</a></li>
                    <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                    <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                    <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Hamburger Menu-->
        <button id="menu-btn" class="hamburger" type="button">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
        
        <div class="heading-bookmark">
            <h1>Bookmarked Missions</h1>
        </div>

        {% for mission in missions %}
        <div class="data-card" id="card{{ loop.index0 }}">
            <div class="card-content">
                <img src="{{ mission.IMG_URL }}" alt="{{ mission.name }}" class="mission-image">
                <div class="mission-info">
                    <div class="details-row">
                        <p class="agency">{{ mission.agency }}</p>
                        <p class="launch-date">Launch Date: {{ mission.launch_date }}</p>
                    </div>
                    <div class="details-row">
                        <h2 class="mission-name">{{ mission.name }}</h2>
                    </div>
                    <div class="details-row">
                        <p class="target-celestial">{{ mission.target_celestial_body }}</p>
                        <p class="purpose">{{ mission.purpose }}</p>
                        <p class="status">{{ mission.status }}</p>
                        
                    </div>
                </div>
                <p id="id">{{ mission.mission_id }}</p>
            </div>
        </div>
        {% endfor %}

    </body>
</html>