<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SpaceX</title>
        <link rel="stylesheet" href="static/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='../static/script.js') }}" defer></script>
    </head>
    <body>
        <div id="overlay"></div>
        <div id="mobile-menu" class="mobile-main-menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('missions') }}">Missions</a></li>
                <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
        <header class="main-header">
            <div class="logo">
                <a href="index.html">
                    <img src="../static/logo.png" alt="SpaceX" />
                </a>
                <span>Space Exploration</span>
            </div>
            <nav class="desktop-main-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('missions') }}">Missions</a></li>
                    <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                    <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                    <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Hamburger Menu-->
        <button id="menu-btn" class="hamburger" type="button">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
        <!-- Section A-->
        <section class="section-missions">
            <div class="gradient"></div>
            <div class="section-inner-missions">
                <h2>Missions</h2>
            </div>

            <div class="scroll-arrow">
                <svg width="30px" height="20px">
                    <path 
                        stroke="#fff" 
                        fill="none" 
                        stroke-width="2px" 
                        d="M2.000,5.000 L15.000,18.000 L28.000,5.000 ">
                    </path>
                </svg>
            </div>
            
            

        </section>
        
        <div class="filter-form">
        <form id="filterForm">
            <label for="agencyFilter">Agency:</label>
            <select id="agencyFilter">
                <option value="none">None</option>
                {% for agency in agencies %}
                    <option value="{{ agency }}">{{ agency }}</option>
                {% endfor %}
            </select>
        
            <label for="targetFilter">Target Celestial:</label>
            <select id="targetFilter">
                <option value="none">None</option>
                {% for target in target_cb %}
                    <option value="{{ target }}">{{ target }}</option>
                {% endfor %}
            </select>
        
            <label for="statusFilter">Status:</label>
            <select id="statusFilter">
                <option value="none">None</option>
                {% for s in status %}
                    <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select>
            
            <label for="yearFilter">Year:</label>
            <select id="yearFilter">
                <option value="none">None</option>
                {% for y in year %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="submit">Apply</button>
        </form>
        </div>

        <div id="missionsContainer"></div>
        <div id="missionsFilteredContainer"></div>
        <button id="showMoreButton">Show More</button>
        <button id="showMoreFilterButton">Show More</button>
    </body>
</html>