<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SpaceX</title>
        <link rel="stylesheet" href="static/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="{{ url_for('static', filename='../static/script.js') }}" defer></script>
    </head>
    <body>
        <div id="overlay"></div>
        <div id="mobile-menu" class="mobile-main-menu">
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('missions') }}">Missions</a></li>
                <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
            </ul>
        </div>
        <header class="main-header">
            <div class="logo">
                <a href="index.html">
                    <img src="../static/logo.png" alt="SpaceX" />
                </a>
                <span>Space Exploration</span>
            </div>
            <nav class="desktop-main-menu">
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('missions') }}">Missions</a></li>
                    <li><a href="{{ url_for('rovers') }}">Rovers</a></li>
                    <li><a href="{{ url_for('astronauts') }}">Astronauts</a></li>
                    <li><a href="{{ url_for('milestones') }}">Milestones</a></li>
                    <li><a href="{{ url_for('profile') }}">Profile</a></li>
                </ul>
            </nav>
        </header>
        
        <!-- Hamburger Menu-->
        <button id="menu-btn" class="hamburger" type="button">
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </button>
        <!-- Section A-->
        <section class="section-profile">
            <div class="user-details">
                <img src="../static/profile_icon.png" alt="logo" class="user-img" />
                <div class="user-details-content">
                    <p>Username: {{ user_details[0] }}</p>
                    <p>Email:   {{ user_details[1] }}</p>
                    <p>Total Bookmarks: {{ total_count }}</p>
                    <div class="user-buttons">
                    <button class="update-username">Update</button>
                    <button class="user-logout">Logout</button>
                </div>
                </div>
            </div>

            <!-- The Modal -->
            <div id="update-username-modal" class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <h2>Update Username</h2>
                  <input type="text" id="newUsername" placeholder="Enter new username" required>
                  <button id="updateBtn">Update</button>
                </div>
            </div>

            <div class="user-bookmarks">
                <h1>My Bookmarks</h1>
                <div class="break-line"></div>
                <div class="bookmarks-container">
                    <div class="bookmarks-card bookmarks-mission-card" onclick="redirectToMissionBookmarks()">
                        <img src="../static/mission_bg.webp" alt="logo" class="bookmarks-img" />
                        <div class="bookmarks-details">
                            <p class="bookmarks-type">Missions</p>
                            <p class="bookmarks-number">{{ counts[0] }} Bookmarks</p>
                        </div>
                    </div>
                    <div class="bookmarks-card bookmarks-rover-card" onclick="redirectToRoverBookmarks()">
                        <img src="../static/rovers_bg.jpeg" alt="logo" class="bookmarks-img" />
                        <div class="bookmarks-details">
                            <p class="bookmarks-type">Rovers</p>
                            <p class="bookmarks-number">{{ counts[1] }} Bookmarks</p>
                        </div>
                    </div>
                    <div class="bookmarks-card bookmarks-astronaut-card" onclick="redirectToAstronautBookmarks()">
                        <img src="../static/astronaut_book.jpeg" alt="logo" class="bookmarks-img" />
                        <div class="bookmarks-details">
                            <p class="bookmarks-type">Astronauts</p>
                            <p class="bookmarks-number">{{ counts[2] }} Bookmarks</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scroll-arrow">
                <svg width="30px" height="20px">
                    <path 
                        stroke="#fff" 
                        fill="none" 
                        stroke-width="2px" 
                        d="M2.000,5.000 L15.000,18.000 L28.000,5.000 ">
                    </path>
                </svg>
            </div>
            
        </section>
    </body>
</html>